.App {
  height: 10vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60%;
  margin-top: 100px;
}

.btn {
  height: 40px;
  /* width: 100px; */
  margin: 2px;
}